<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>


		<!-- <property name="hbm2ddl.auto">create-drop</property> -->

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/studentdb</property>
		<property name="connection.username">shilpi</property>
		<property name="connection.password">shilpi2811</property>
		<property name="jdbc.batch_size">10</property>

		<!--<property name="hibernate.cache.use_query_cache">10</property> -->
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>


		<!-- Enable the second-level cache -->
<!-- 		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">
			org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<property name="hibernate.cache.use_query_cache">true</property>
 -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.c2t.annotation.basic.Employee" />
		<mapping class="com.c2t.annotation.basic.Employee2" />
		<!-- <mapping resource="com/c2t/basic/xml/Stock.hbm.xml"></mapping> -->

	</session-factory>
</hibernate-configuration>
